<?xml version="1.0" encoding="utf-8"?>
<!--
http://android.magicer.xyz/preview/backup/index.html
https://developer.android.com/guide/topics/data/testingbackup
https://help.sap.com/doc/c2d571df73104f72b9f1b73e06c5609a/Latest/en-US/docs/user-guide/managing-backup/backupmanagement.html
https://blog.mindorks.com/android-auto-backup-api
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webserveis.mysubscriptions"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.DayNight"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="change-this" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.DayNight.Transparent"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.subscriptions.SubscriptionDetailActivity"
            android:theme="@style/AppTheme.DayNight"
            android:windowSoftInputMode="adjustPan"
            />

        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.DayNight.Settings" />
    </application>

</manifest>